html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto Slab", serif;
  background: blue;
}
.wrapper {
  background: rgba(255, 255, 255, 0.5);
}
